body {
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topPanel {
  position: fixed;

  width: 100%;
  border-bottom: 1px solid #ddd; 
  padding: 10px;
  z-index: 1001;
  /* background-color: orange; */
}

.mainContainer {
  display: flex;
  flex-grow: 1;
  margin-top: 103px;
}
